@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

/*===================================
 BUTTON DESIGN 
====================================*/
.btn {
  padding: 0px 26px;
  background: #e4ae44;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn a {
  color: #fff;
}
.btn:hover {
  background-color: #e4ae44;
  border: none;
}
.btn:hover::before {
  top: 0px;
  border-radius: 0px;
}
.btn::before {
  content: "";
  position: absolute;
  background-color: #854c0d;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  left: 0;
  z-index: -1;
  top: -65px;
  transition: all 0.7s ease;
}
.btn:focus-visible {
  color: #fff;
  background-color: #e4ae44;
  border-color: #e4ae44;
  box-shadow: none;
}
.btn:first-child:active {
  color: #fff;
  background-color: #e4ae44;
  border-color: #e4ae44;
  box-shadow: none;
}

/*===================================
 HEADER NAVBAR DESIGN 
====================================*/
.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 7777;
  transition: all 0.4s ease !important;
  box-shadow: 0 10px 10px rgba(172, 110, 41, 0.15);
}
header .top-header {
  background-color: #ac6e29;
}
header .top-header .text-top {
  text-align: start;
  color: #fff;
  padding-top: 7px;
}
header .top-header .header-right ul {
  display: flex;
  align-items: center;
  padding: 0px 25px;
  margin-bottom: 0px;
}
header .top-header .header-right ul li {
  font-size: 14px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  color: #fff;
}
header .top-header .header-right ul li a {
  color: #fff;
}
header .top-header .right-btn .btn-primary .img-top {
  transform: rotate(-90deg);
}
header .bottom-header {
  background-color: #fff;
}
header .bottom-header .navbar .navbar-nav .nav-item .nav-link {
  padding: 25px;
  color: #000;
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
}
header .bottom-header .navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #e4ae44;
  color: #fff;
}

/*===================================
 FOOTER DESIGN 
====================================*/
footer {
  padding-top: 35px;
  background-color: #f0eddf;
  width: 100%;
}
footer .footer-left .roboto-regular {
  font-size: 15px;
  line-height: 26px;
  margin: 0;
}
footer .footer-left ul li {
  padding: 15px 10px 20px 0;
}
footer .footer-left ul li a {
  font-size: 14px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ac6e29;
  border: 1px solid #ac6e29;
  transition: all 0.5s ease;
}
footer .footer-left ul li a img {
  filter: brightness(10);
}
footer .footer-left ul li a:hover {
  background: transparent;
}
footer .footer-left ul li a:hover img {
  filter: brightness(100%);
}
footer .title .roboto-medium {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 40px;
  padding-bottom: 15px;
  color: #ac6e29;
  margin: 0;
}
footer .footer-center ul {
  margin: 0;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 0;
       column-gap: 0;
  padding: 0;
}
footer .footer-center ul li a {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: normal;
  line-height: 30px;
  transition: all 0.3s ease;
}
footer .footer-center ul li a:hover {
  color: #000;
}
footer .footer-right .location .roboto-regular,
footer .footer-right .location a {
  font-size: 15px;
  line-height: 26px;
  text-decoration: none;
  transition: all 0.3s ease;
}
footer .footer-right .location .roboto-regular:hover,
footer .footer-right .location a:hover {
  color: #000;
}
footer .footer-copy-right {
  padding-top: 10px;
  text-align: center;
  border-top: 1px solid rgba(172, 111, 41, 0.431372549);
}
footer .footer-copy-right .roboto-regular {
  font-size: 13px;
}
footer .footer-copy-right a {
  color: #000;
}

.fix-icon .whatsapp_icon img {
  position: fixed;
  z-index: 7777;
  bottom: 25px;
  right: 25px;
}

/*===================================
 INDEX PAGE DESIGN 
====================================*/
.about-section {
  padding: 10px 0 50px 0;
  background-color: #f0eddf;
}
.about-section .about-text {
  font-size: 15px;
  list-style: 25px;
}
.about-section .about-text .roboto-regular {
  font-size: 15px;
  list-style: 25px;
}
.about-section .about-text li {
  padding: 4px 0;
}

.top-content {
  background-color: #ac6e29;
}
.top-content .top-text .roboto-black-italic {
  text-align: center;
  color: #fff;
  margin: 0;
}

.wd_heading {
  padding: 15px 0;
  text-align: center;
  color: #ac6e29;
}
.wd_heading .title .roboto-bold {
  font-size: 35px;
  line-height: 44px;
  letter-spacing: 0.56px;
}
.wd_heading .title .roboto-bold::after {
  content: "";
  display: block;
  width: 80px;
  margin: 11px auto 15px;
  border-bottom: 4px solid #703307;
}
.wd_heading .content .roboto-medium {
  letter-spacing: 1px;
  font-size: 20px;
  margin: 0;
}
.wd_heading .content .roboto-medium a {
  color: #ac6e29;
}

.our-product {
  padding: 10px 0 50px 0;
}
.our-product .card {
  margin: 0;
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: none;
}
.our-product .card .card-body {
  background-color: #7e552a;
  padding: 7px;
}
.our-product .card .card-body .roboto-medium {
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.testimonaial {
  padding: 10px 0 50px 0;
  background-color: #f0eddf;
}
.testimonaial .carousel .carousel-indicators {
  position: inherit;
  bottom: -20px;
}
.testimonaial .carousel .carousel-indicators button {
  height: 7px;
  width: 7px;
  margin: 0 7PX;
  border-radius: 50%;
  border: 2px solid #ac6e29;
  background: transparent;
}
.testimonaial .carousel .carousel-indicators .active {
  background-color: #ac6e29;
}
.testimonaial .carousel .carousel-inner .carousel-item {
  padding: 0 10%;
  align-items: center;
}
.testimonaial .carousel .carousel-inner .carousel-item .carousel-content .roboto-regular {
  font-size: 20PX;
  line-height: 32px;
  margin: 0;
  text-align: center;
}
.testimonaial .carousel .carousel-inner .carousel-item .carousel-content .roboto-bold-italic {
  color: #703307;
  margin: 0 !important;
}
.testimonaial .carousel .carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}
.testimonaial .carousel .carousel-arrow button {
  border: 1px solid #ac6e29;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.paragraph {
  padding: 10px 0 50px 0;
}
.paragraph .roboto-regular {
  line-height: 26px;
}
.paragraph .mission-vision {
  padding: 35px;
  color: #000;
  border-radius: 7px;
  background-color: #f0eddf;
  box-shadow: 0 0 10px silver;
  height: 100%;
}
.paragraph .mission-vision b {
  color: #ac6e29;
  font-size: 22px;
  line-height: 35px;
}

.mission-vision {
  padding: 35px;
  color: #000;
  border-radius: 7px;
  background-color: #f0eddf;
  box-shadow: 0 0 10px silver;
  height: 100%;
}
.mission-vision b {
  color: #ac6e29;
  font-size: 22px;
  line-height: 35px;
}

.faq {
  padding: 10px 0 50px 0;
  background-color: #f0eddf;
}
.faq .accordion .accordion-item {
  margin-bottom: 25px;
  border-radius: 0;
  border: 1px solid #ac6e29;
}
.faq .accordion .accordion-item .accordion-header .accordion-button {
  background-color: #ac6e29;
  box-shadow: none;
  border-radius: 0;
  color: #fff;
}
.faq .accordion .accordion-item .accordion-header .accordion-button::after {
  content: "";
  background-image: url(../img/plus.webp);
  background-repeat: no-repeat;
}
.faq .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  content: "";
  background-image: url(../img/minus-sign.webp);
  background-repeat: no-repeat;
}

.contact {
  padding: 10px 0 50px 0;
}
.contact .user-details {
  box-shadow: 0 0 10px silver;
}
.contact .user-details .info-left {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 25px 60px;
}
.contact .user-details .info-left .contact-box {
  padding: 10px 0;
}
.contact .user-details .info-left .contact-box .roboto-bold {
  font-size: 22px;
  line-height: 30px;
}
.contact .user-details .info-right {
  padding: 45px;
  background-color: #fff;
}
.contact .user-details .info-right .form-group .form-control {
  border-radius: 0;
  padding-left: 21px;
}
.contact .user-details .info-right .form-group .form-control:focus {
  box-shadow: none;
  border-color: #ac6e29;
}

.form-control::-moz-placeholder {
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.418);
  font-weight: bold;
}

.form-control::placeholder {
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.418);
  font-weight: bold;
}

/*===================================
 ABOUT US PAGE DESIGN 
====================================*/
.common-heading {
  background-color: #f0eddf;
}

.paragraph-second {
  padding: 10px 0 50px 0;
}

.client-logo {
  padding: 10px 0 50px 0;
}
.client-logo .logo {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.client-logo .logo img {
  transition: all 0.3s ease;
}
.client-logo .logo img:hover {
  scale: 1.05;
}

/*===================================
 OUR CLIENTS DESIGN 
====================================*/
.faq-section {
  background-color: #fff;
}

/*===================================
 PRODUCT DETAILS DESIGN 
====================================*/
.product-top {
  color: #fff;
  padding: 15px 0;
  background-color: #ac6e29;
}
.product-top .btn-success {
  background-color: #00cc5d;
}
.product-top .title {
  font-size: 50px;
  line-height: 60px;
}
.product-top .text-right {
  background-color: #e4ae44;
  padding: 25px;
  border-radius: 15px;
}
.product-top .text-right .btn-secondary {
  background-color: #af6615;
  border: 1px solid #af6615;
}
.product-top .text-right .btn-secondary:hover::before {
  background-color: #4a2b09;
  border: 1px solid #4a2b09;
}
.product-top .text-right .roboto-black {
  color: #874d0e;
}

.advance {
  padding: 45px 0;
  background-color: #f7f7f7;
}
.advance .roboto-black .text-1 {
  color: #e4ae44;
}
.advance .roboto-black .text-2 {
  color: #ac6e29;
}
.advance .check-list {
  padding-left: 20px;
}
.advance .check-list .check {
  box-sizing: border-box;
  position: relative;
  display: block;
  border: 2px solid transparent;
}
.advance .check-list .check::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: -24px;
  top: 0;
  width: 6px;
  height: 12px;
  border-width: 0 3px 3px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.divider {
  border-bottom: 3px solid #703307;
  border-radius: 3px;
  width: 65px;
  margin: 15px auto;
}

.skew {
  transition: 0.3s;
}
.skew:hover {
  transform: skewY(1deg);
  transition: 0.3s;
}

.aec-first {
  padding-bottom: 45px;
}
.aec-first .aec-1 {
  height: 100%;
  border: 2px solid #ac6e29;
  transition: 0.3s;
}
.aec-first .aec-1 img {
  padding: 10px;
  border-radius: 5px;
}
.aec-first .aec-1:hover {
  border: 2px solid #fff;
  transition: 0.3s;
}
.aec-first .aec-1 .roboto-bold {
  font-size: 22px;
  color: #ac6e29;
  margin-bottom: 10px;
  margin: 0;
}
.aec-first .aec-1 .roboto-regular {
  font-size: 15px;
  margin: 0;
}

.paragraph-box {
  background-color: #ac6e29;
}

.channel-partner {
  color: #fff;
  background-color: #ac6e29;
}
.channel-partner .des .roboto-bold {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.7px;
}
.channel-partner .des .roboto-regular {
  margin: 0;
  font-size: 14px;
}

.list-item {
  padding: 5px 0;
}

.happy-client {
  padding: 10px 0 50px 0;
}
.happy-client .roboto-black {
  font-size: 30px;
  line-height: 40px;
}
.happy-client .roboto-black .text-1 {
  color: #e4ae44;
}
.happy-client .roboto-black .text-2 {
  color: #ac6e29;
}

.rating-star {
  text-align: left;
  height: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 9px 0 rgba(172, 110, 41, 0.3882352941);
  border-radius: 10px;
  margin: 0px;
}
.rating-star .client-rating {
  padding: 0px 20px;
}
.rating-star:hover {
  box-shadow: 0 0 9px 0 #e4ae44;
}

.our-paragraph {
  padding: 10px 0;
}

/*===================================
 RATING DETAILS DESIGN 
====================================*/
.rating {
  padding: 30px 0;
}
.rating .rating-inner {
  box-shadow: 1px 1px 5px 2px #ddd;
  border-radius: 5px;
  padding: 35px 0;
}
.rating .rating-inner .rating-star {
  align-items: center;
  justify-content: center;
}
.rating .rating-inner .rating-star li {
  position: relative;
  z-index: 0;
  width: 28px;
  height: 28px;
}
.rating .rating-inner .rating-star li .star-icon::before {
  content: "★";
  position: absolute;
  text-shadow: 1px 1px #bbb, 2px 2px #666, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
  transition: all ease 0.4s;
  font-size: 24px;
  line-height: 30px;
  color: #ddd;
  z-index: 1;
  left: 0;
  top: 0;
}
.rating .rating-inner .rating-star li .star-icon:hover::before {
  color: #f70;
  text-shadow: 1px 1px #c60, 2px 2px #940, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}
.rating .rating-inner .rating-star .rating-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.rating .rating-inner .global-rating {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.rating .rating-inner .main,
.rating .rating-inner .rating-five,
.rating .rating-inner strong {
  color: #ac6e29;
}

/*===================================
 Responsive Design
====================================*/
@media only screen and (max-width: 991px) {
  .scroll-on {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
  }
  header .bottom-header .navbar .navbar-nav .nav-item .nav-link {
    padding: 10px 25px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonaial .carousel .carousel-inner .carousel-item .carousel-content .roboto-regular {
    font-size: 14PX;
    line-height: 24px;
  }
  .testimonaial .carousel .carousel-arrow {
    top: 35%;
  }
  .product-top .title {
    font-size: 40px;
    line-height: 50px;
  }
  .our-product .wd_heading .title .roboto-bold {
    line-height: 30px;
  }
}
@media only screen and (max-width: 425px) {
  .wd_heading .title .roboto-bold {
    font-size: 27px;
    line-height: 35px;
  }
}
.rating:not(:checked) > input {
  position: fixed;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 0.1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 300%;
  line-height: 1.2;
  color: #ddd;
  text-shadow: 1px 1px #bbb, 2px 2px #666, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.rating:not(:checked) > label:before {
  content: "★ ";
}

.rating > input:checked ~ label {
  color: #f70;
  text-shadow: 1px 1px #c60, 2px 2px #940, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.rating.rating-review {
  display: block;
  min-height: 65px;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod, 2px 2px #B57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow: 1px 1px goldenrod, 2px 2px #B57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.error {
  padding: 60px 0;
}
.error .error-text h1 {
  font-size: 130px;
  line-height: 140px;
  color: #d9534f;
}
.error .error-text h2 {
  font-size: 40px;
  line-height: 70px;
  font-weight: 500;
}
.error .error-text p {
  margin-bottom: 3px;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 20px;
}

@keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
@keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}/*# sourceMappingURL=style.css.map */